.game_update{
    background-color: #1A1B1C;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}
p{
    font-weight: 200;
}
.text-default{
    color: #E91D24;
}
.my-container{
    position: relative;
}
.center {
position: absolute;
top: 3%;
left: 20%;
/* transform: translate(-80%, -80%); */
font-size: 18px;
}
.cod-img { 
width: 100%;
height: auto;
opacity: 0.3;
}
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}
.container {
max-width: 960px;
}

/*
* Custom translucent site header
*/

.site-header {
background-color: rgba(0, 0, 0, .85);
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
color: #999;
transition: ease-in-out color .15s;
}
.site-header a:hover {
color: #fff;
text-decoration: none;
}

/*
* Dummy devices (replace them with your own or something else entirely!)
*/

.product-device {
position: absolute;
right: 10%;
bottom: -30%;
width: 300px;
height: 540px;
background-color: #333;
border-radius: 21px;
-webkit-transform: rotate(30deg);
transform: rotate(30deg);
}

.product-device::before {
position: absolute;
top: 10%;
right: 10px;
bottom: 10%;
left: 10px;
content: "";
background-color: rgba(255, 255, 255, .1);
border-radius: 5px;
}

.product-device-2 {
top: -25%;
right: auto;
bottom: 0;
left: 5%;
background-color: #e5e5e5;
}

.splencover{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000c7;
    width: 700px;
    border: 2px solid #E91D24;
    padding: 15px;
}


/*
* Extra utilities
*/

.flex-equal > * {
-ms-flex: 1;
flex: 1;
}
@media (min-width: 768px) {
.flex-md-equal > * {
-ms-flex: 1;
flex: 1;
}
}

.overflow-hidden { overflow: hidden; }
.jumbotron {
padding: 9rem 2rem;
border-radius: 0;
margin-bottom: 0 !important;
}

/*Product Content */
h4 span{
    color: #E91D24;
    padding-bottom: 0.5rem;
}

.description p {
    color: white;
    
}